@charset "UTF-8";
<<<<<<< HEAD
     
* {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
      }
      body{
    background: linear-gradient(135deg, #4facfe, #00f2fe);
      	
      }
      main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 50vh;
        width: 100vw;
        /*background-color: lightblue;*/
      }
     button{
        height: 50px;
        width: 100px;
        background-color: rgb(193, 158, 225);
     }
     button:hover{
        background-color: blueviolet;
     }
     
=======

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	background: linear-gradient(135deg, #4facfe, #00f2fe);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 50vh;
	width: 100vw;
	/*background-color: lightblue;*/
}

button {
	height: 50px;
	width: 100px;
	background-color: rgb(193, 158, 225);
}

button:hover {
	background-color: blueviolet;
}
>>>>>>> 043bf6b (request service added)
